html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --color-bg: #3a3742;
  --color-primary: #e6eaeb;
  --color-secondary: #3985b8;
  --color-tertiary: #002d5d;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.25;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}